/*  Main Div  */

/* .mainDiv{

} */
/* First Division for User's Accoiunt and Makertplace Branding*/




.div1Header{
    padding:0;
    margin:0;
    height: 100px;
    background: #F0EFEF;
    opacity:0.9;
}

.logoImg{
    float: left;
}

.logoImg img{
    margin-top: 20px;
    margin-left: 40px;
}

.lnr-chevron-up-circle{
  color:white;
  background-color: #4A51DD;
  font-size: 40px;
  border-radius: 25.5px;
  position: fixed;
  right:30px;
  bottom: 30px;
}

.userThing{
    margin-top: 20px;
    margin-right:20px;
    float: right;
    width:200px;
    height: 40px;

}

.sellerIntent{
    float:right;
    margin-top:25px;
    margin-right:30px;
   
}

.sellerIntent button{
    width:150px;
    height: 40px;
    background-color: #0E287B;
    color:white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2em;
}

.sellerIntent button:hover{
    background-color: #0c3a5c;
}

.Login{
    float:right;
    margin-top:25px;
    margin-right: 20px;
}

.Login button{
    width:150px;
    height: 40px;
    background-color: #0E287B;
    color:white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2em;
}

.Login button:hover{
    background-color: #0c3a5c;
}

/*-------------------Dropdown-------------------*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #13042E;color: whitesmoke;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  

/*-----------------------------------------------*/

/*-------------------- Navigation Bar -------------------*/
 .navigationMenu{
  
  margin-top: 0px;
  margin-bottom: 0px;
 }

.navbar {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
 
}

/* Navigation links */
.navbar a {
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: lighter;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover {
  background-color: whitesmoke;
  color:  #0c3a5c ;
  font-weight: 400;
  border-radius: 2.5em;
}


/*-----------------------------------------------------*/
  
/*------------------------------HERO COntent Starts-----------------------*/

.hero-content{
  width: 100%;
  height:500px;
  text-align: center;
}

.background{
  background: url(images/hero_area_bg1.jpg)  no-repeat;
  width:100%;
  height:100%;
  background-size: cover;
}

.background_color{
  background-color: #1F3E99 ;
  opacity:0.6;
  left:0;
  right:0;
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-content-title{
  margin-top:60px;
  /* font-family: 'FontAwesome', sans-serif; */

font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: whitesmoke;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*------------------------------Hero Content ends-------------------------*/

/*----------------------------------------------
---- Why Choose Maektplace----------------------
--------------------------
*/

.why_choose_Marketplace{
  height: auto;
  width:auto;
  overflow: hidden;
}
.wcm_container{
  margin-top: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight: lighter;
  height:auto;
  
}

.wcm_container #text{
  color:#4B4C4F ;
}
.highlighted{
  color: #637DC6;
}




/*-----------------------

--------End WHy Choose Marketplace 
------------
------------ */

/*-----------------------
------------------------------------------
----------------Row Boxes Start------------------
------------------------------------------------*/
.row{
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 15px;
  width:auto;
  height:auto;
  
}

.oneBox{
  float:left;
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 20px;
}

.twoBox{
  float: left;
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 20px;
}

.threeBox{
  float: left;
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 20px;
}

.fourBox{
  float: left;
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 20px;
}

.fiveBox{
float:left;
margin-left:60px;
  margin-right:60px;
margin-bottom: 20px;
}

.sixBox{
  float:left;
margin-left:60px;
  margin-right:60px;
margin-bottom: 20px;
}


.box-main{
  width:300px;
  height: 380px;
  background: whitesmoke;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.lnr-lock{
  font-size: 60px;
  margin-top:10px;
  color: #55DD4F;
}

.lnr-license{
  font-size: 60px;
  margin-top:20px;
  color: #1B3373;
}

.lnr-magic-wand{
  font-size: 60px;
  margin-top:20px;
  color: #553399;
}

.lnr-chart-bars{
  font-size: 60px;
  margin-top:10px;
  color: #E0D421;
}

.lnr-leaf{
  font-size: 60px;
  margin-top:10px;
  color: #87C5D8;
}

.lnr-user{
  font-size: 60px;
  margin-top:10px;
  color: #050837;
}

 .number{
   font-family:'Open Sans', sans-serif;
   padding-top:25px;
   font-size: 35px;
   color: #6178BF;
}
.icon{
  text-align: center;
}
.text{
  margin-top:20px;
  text-align: center;
  color: #3F443F;
  font-size: 22px;
  font-weight: lighter;
}
.text2{
  font-size: 20px;
 
  font-family:'Open Sans', sans-serif;
  color: #6178BF;
  padding:10px;
  text-align: center;
  font-weight: bold;
}


/*--------------------------------------------
-------------------Row Boxes End--------------
-----------------------------------------------*/


/*---------------------------------------------------------
----------------------Ready to Joisn Marketplace start------
------------------------------------------------------------*/

.readyForMarketplace{
  margin-top:10px;
  margin-bottom: 10px;
  width: 100%;
  height:380px;
  text-align: center;
}

.background_rfm{
  background: url(images/calltobg.jpg)  no-repeat;
  width:100%;
  height:100%;
  background-size: cover;
}

.rfm_background_color{
  background-image: linear-gradient(to bottom , #6694CB , #B7ADCB);
  /* background-color: #1F3E99 ; */
  opacity:0.9;
  left:0;
  right:0;
  position: relative;
  width: 100%;
  height: 100%;
} 

.rfm_hero-content-title{
  margin-top:60px;
font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  position: absolute;
  opacity: 0.9;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*----------------------------------------------------------------
=----------------------------End---------------------------------

-----------------------------------------*/

/*----------------------------------------------------------------
---------------------------About Us--------------------------------
----------------------------------------------------------------*/


.AboutUs{
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:  #0c3a5c;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  white;
  color: #0c3a5c;
  border: 1px solid #0c3a5c ;
}

/* Style the container/contact section */
.container_aboutus {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column_aboutus {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  color:  #0c3a5c ;
}

/* Clear floats after the columns */
.row_aboutus:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_aboutus, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/*----------------------------------------------------------------
-------------------------End---------------------------------------
-------------------------------------------------------------------*/